:root {
  --mainColor: #30e3ca;
}

body,
html {
  height: 100vh;
  font-family: "Roboto", sans-serif !important;
  color: #393e46;
}

/* nav section */
.nav-link {
  color: #00adb5 !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: white !important;
}

.navbar {
  background-color: #00adb5;
}

.navbar_section,
.navbar_section {
  background-color: #383737b9;
}

/* Vince SWE Title */

.jumbotron {
  background-color: #00adb5;
}

.title-jumbo {
  margin-bottom: 0 !important;
  padding-top: 120px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: turquoise; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.swe-title {
  font-size: 2.3rem;
}

#portrait-vinc {
  height: 25vh;
}

.title-profile {
  margin-left: 200px !important;
}

@media screen and (max-width: 600px) {
  .name-title {
    font-size: 3rem;
  }
}

/* SKILLS/TECHNOLOGY */
/* Progress Bar Width for Technologies/Skills */
.bar-size {
  width: 50%;
  margin-top: 15px;
}

.tech-skill {
  font-size: 1.5rem;
}

.skills-technologies {
  /* background-color: #e4f9f5; */
  background-color: #383737b9;
  padding: 20px;
  margin-bottom: 0;
  color: #00adb5;
  font-weight: 500;
}

.skills-technologies-content {
  background-color: #383737b9;
}

#skills {
  background-color: #383737b9;
}

/* Projects */
h1.projects {
  padding-top: 20px;
  background-color: #e4f9f5;
}

/* Experience/Resume */
.experience {
  background-color: #e4f9f5;
}

.generation-resume {
  text-align: center;
}

.resume-align {
  display: inline-block;
  text-align: left;
}

.resume-list {
  list-style-position: inside;
  width: 70%;
  font-size: 1em;
}

.li-indent {
  padding-left: 1.28571429em;
  text-indent: -1.28571429em;
  margin: 0 0 8px 0;
}

.cv-download,
.cv-download:hover {
  font-size: 1.5rem;
  color: #30e3ca;
  text-decoration: none;
}

.download-text {
  text-align: center;
}

.resume-date {
  color: #30e3ca;
  font-style: italic;
  font-weight: 600;
}

.website-link:hover {
  background-size: 4px 50px;
  text-decoration: none;
  color: #393e46;
}

.website-link {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #393e46;
  text-decoration: none;
  transition: background-size 0.2s;
}

.resume-heading {
  font-weight: bold;
}
/* Social icons section */

#socials-section {
  background-color: #383737b9;
}

.github-icon-link,
.linkedin-icon-link,
.email-icon-link {
  color: #00adb5;
  margin: 5px;
}

.col-lg-3 {
  padding: 30px;
}

.icon-credit {
  font-size: 15px;
  color: #00adb5;
}

.icon-center {
  margin-left: 47.5%;
}

/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}

/* Footer */
#footer {
  background-color: #383737b9;
}

.footer-text {
  color: #00adb5;
}
